*
.bodyy{
    background-color: #33373d;
   
}
.hrr{
    height: 10px;
    margin-left: 0%;
    margin-right: 50%;
    background-color: #fff;
}
.colorRedes{
 color: #fff;
 text-decoration: none;
}
.colorRedes :hover{
    color: #ff4500;
}
.hrr2{
    height: 10px;
    margin-left: 0%;
    margin-right: 50%;
    background-color: #8f8f8f;
}
.cl{
    padding: 1rem;
    background-color: #8f8f8f;
    
    color: rgb(0, 0, 0);
    text-align: center;
 
}
.cl1{
    border-bottom: 20px solid #ff4500;
    padding-right: 0px !important;
    padding-bottom: 0px;
    padding-left: 0px !important;
    padding-top: 0px;

}
.cl2{

}
.con1{
    padding: 1rem;
    background-color: #8f8f8f;
    
    color: rgb(255, 255, 255);
    text-align: center;
    text-align: left;
 
}
.con2{
    padding: 1rem;
    background-color: #8f8f8f;

    color: rgb(77, 77, 77);
    text-align: center;
    text-align: left;  
}
/* margen de cuadros primera columna */
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.cuadro1{
  margin-bottom: -3%;
  z-index: 1;
  background-color: #b0b0b8;
}

.cuadro2{
   
    background-color: orangered;
    z-index: 3;
    text-align: center;
    
    width: 70%;
   
}
.cuadro3{
    z-index: 2;
   
    background-color: #3f3f41 
}
.resumen{
    margin-top: 30%;
    background-color: #3f3f41 
}
.interes{
    background-color: #3f3f41 
}
.contacto{
    background-color: #3f3f41 
}

.textoColor{
    color: orangered;
}

.colorc2{
    background-color: #ffffff;
}
